html, body {
    font-family: Maven Pro, Helvetica, sans-serif;
    font-size: 14px;
}
/* .nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
} */
.color-theme{
    color: #713C39;
}
.color-theme-admin{
    color: #E84A4A;
}
.bg-color-theme-admin{
    background-color: #E84A4A;
}
.font-8{
    font-size: 8px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.text-white{
    color: white;
}
.text-red{
    color: red;
}
.text-gray{
    color: gray;
}
.text-black{
    color: black;
}
.font-light{
    font-weight: 300;
}
.font-regular{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extra-bold{
    font-weight: 800;
}
.p-2p{
    padding: 2px !important;
}
.p-4p{
    padding: 4px !important;
}
.p-8p{
    padding: 8px !important;
}
.p-12p{
    padding: 12px !important;
}
.p-16p{
    padding: 16px !important;
}
.p-20p{
    padding: 20px !important;
}
.p-24p{
    padding: 24px !important;
}
.pl-2p{
    padding-left: 2px !important;
}
.pl-4p{
    padding-left: 4px !important;
}
.pl-8p{
    padding-left: 8px !important;
}
.pl-12p{
    padding-left: 12px !important;
}
.pl-16p{
    padding-left: 16px !important;
}
.pl-20p{
    padding-left: 20px !important;
}
.pl-24p{
    padding-left: 24px !important;
}
.pl-32p{
    padding-left: 32px !important;
}
.pr-2p{
    padding-right: 2px !important;
}
.pr-4p{
    padding-right: 4px !important;
}
.pr-8p{
    padding-right: 8px !important;
}
.pr-12p{
    padding-right: 12px !important;
}
.pr-16p{
    padding-right: 16px !important;
}
.pr-20p{
    padding-right: 20px !important;
}
.pr-24p{
    padding-right: 24px !important;
}
.pr-32p{
    padding-right: 32px !important;
}
.pt-2p{
    padding-top: 2px !important;
}
.pt-4p{
    padding-top: 4px !important;
}
.pt-8p{
    padding-top: 8px !important;
}
.pt-12p{
    padding-top: 12px !important;
}
.pt-16p{
    padding-top: 16px !important;
}
.pt-20p{
    padding-top: 20px !important;
}
.pt-24p{
    padding-top: 24px !important;
}
.pb-2p{
    padding-bottom: 2px !important;
}
.pb-4p{
    padding-bottom: 4px !important;
}
.pb-8p{
    padding-bottom: 8px !important;
}
.pb-12p{
    padding-bottom: 12px !important;
}
.pb-16p{
    padding-bottom: 16px !important;
}
.pb-20p{
    padding-bottom: 20px !important;
}
.pb-24p{
    padding-bottom: 24px !important;
}
.m-2p{
    margin: 2px !important;
}
.m-4p{
    margin: 4px !important;
}
.m-8p{
    margin: 8px !important;
}
.m-12p{
    margin: 12px !important;
}
.m-16p{
    margin: 16px !important;
}
.m-20p{
    margin: 20px !important;
}
.m-24p{
    margin: 24px !important;
}
.ml-2p{
    margin-left: 2px !important;
}
.ml-4p{
    margin-left: 4px !important;
}
.ml-8p{
    margin-left: 8px !important;
}
.ml-12p{
    margin-left: 12px !important;
}
.ml-16p{
    margin-left: 16px !important;
}
.ml-20p{
    margin-left: 20px !important;
}
.ml-24p{
    margin-left: 24px !important;
}
.mr-2p{
    margin-right: 2px !important;
}
.mr-4p{
    margin-right: 4px !important;
}
.mr-8p{
    margin-right: 8px !important;
}
.mr-12p{
    margin-right: 12px !important;
}
.mr-16p{
    margin-right: 16px !important;
}
.mr-20p{
    margin-right: 20px !important;
}
.mr-24p{
    margin-right: 24px !important;
}
.mt-2p{
    margin-top: 2px !important;
}
.mt-4p{
    margin-top: 4px !important;
}
.mt-8p{
    margin-top: 8px !important;
}
.mt-12p{
    margin-top: 12px !important;
}
.mt-16p{
    margin-top: 16px !important;
}
.mt-20p{
    margin-top: 20px !important;
}
.mt-24p{
    margin-top: 24px !important;
}
.mb-2p{
    margin-bottom: 2px !important;
}
.mb-4p{
    margin-bottom: 4px !important;
}
.mb-8p{
    margin-bottom: 8px !important;
}
.mb-12p{
    margin-bottom: 12px !important;
}
.mb-16p{
    margin-bottom: 16px !important;
}
.mb-20p{
    margin-bottom: 20px !important;
}
.mb-24p{
    margin-bottom: 24px !important;
}
.template-content-container{
    max-width: 1170px;
}

/*custom input-placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #555555;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #555555;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #555555;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    color: #555555;
}
#main-container{

}

#header-container{
    padding: 5px 98px;
}
#page-content{
    padding: 24px 98px;
    background-color: #F6F7FB;
}

.row-no-margin{
    margin-right: 0;
    margin-left: 0;
    height: auto;
    width: 100%;
}
.top-banner-container{
    border-bottom: 1px solid rosybrown;
    padding: 5px;
}

.hammer-icon{
    background: transparent url('~@/assets/svg/hammer.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.hammer-icon-fff{
    background: transparent url('~@/assets/svg/hammer_fff.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.hammer-icon-m{
    background: transparent url('~@/assets/svg/hammer.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 24px;
    width: 24px;
}
.banner-text{
    letter-spacing: 0;
    color: #000000;
}
#header-container a{
    font-size: 14px;
    color: #000000;
    padding-right: 30px;
    font-weight: 500;
}
#header-container a:hover{
    color: #713C39;
    text-decoration: underline;
}
#header-container .active{
    color: #713C39;
}
#header-container .user-info i{
    font-size: 20px;
    padding-left: 16px;
}
#header-container .user-info i:last-child{
    color: #B7B7B7;
    font-size: 32px;
    padding-left: 30px;
}
.search-icon{
    background: transparent url('~@/assets/svg/search.svg') 0 0 no-repeat padding-box;
    height: 24px;
    width: 24px;
}
.search-group {
    background-color: #F0F0F0;
    border-radius: 4px;
}
.search-group input{
    background-color: inherit;
}
.nar-product-h {
    width: 270px;
    background-color: #713C39;
    border-radius: 4px 0 0 4px;
}
.rev-slider-wrapper{
    width: calc(100% - 270px);
    border-radius: 0 4px 4px 0;
}
.mainmenu, .submenu {
    border-radius: 0 4px 4px 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 0.1px solid #B7B7B7;

}
.mainmenu a {
    display: block;
    /*background-color: #CCC;*/
    text-decoration: none;
    padding: 10px 16px 10px 30px;
    color: #fff;
}
.mainmenu a:hover {
    background-color: #5A302E;
}
.mainmenu li .submenu {
    top: 0;
    left: 100%;
    width: 80%;
    z-index: 100;
}
.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}
.submenu a {
    background-color: #713C39;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.carousel-indicators .active{
    opacity: 1;
    background-color: #713C39;
}
.nar-product-h .hotline{
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
}
.hotline p{
    text-align: center;
    display: block;
    color: white;
    padding: 12px;
}
.auction-process-wrapper{
    background-color: #ffffff;
    padding: 0;
    margin: 16px 0;
}
.auction-process-step i{
    font-size: 16px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}
.auction-process-step .step-icon div {
    font-size: 13px;
}
.auction-process-step i span{
    padding: 3px;
    color: #000000;
    font-family: Maven Pro, Helvetica, sans-serif;
}
.auction-process-step .step-cover {
    background-color: inherit;
}
.auction-process-step .step-cover div {
    border-radius: 4px;
}
.auction-process-step .step-cover .step-1{
    background-color: #DFF4F4;
}
.auction-process-step .step-cover .step-2{
    background-color: #FBEECD;
}
.auction-process-step .step-cover .step-3{
    background-color: #DFE4FD;
}
.auction-process-step .step-cover .step-4{
    background-color: #DFF4F4;
}
.auction-process-step .step-cover .step-5{
    background-color: #FBEECD;
}
.auction-process-step .step-cover .step-6{
    background-color: #DFE4FD;
}
.auction-process-step .step-cover .step-1 i{
    color: #42b983;
}
.auction-process-step .step-cover .step-2 i{
    color: #f3bd37;
}
.auction-process-step .step-cover .step-3 i{
    color: #3f5bec;
}
.auction-process-step .step-cover .step-4 i{
    color: #42b983;
}
.auction-process-step .step-cover .step-5 i{
    color: #f3bd37;
}
.auction-process-step .step-cover .step-6 i{
    color: #3f5bec;
}
.auction-info-wrapper{
    background-color: inherit;
    margin-bottom: 24px;
}
.auction-today {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.auction-notification {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.auction-today-post .auction-today-post-single{
    border: 1px solid #B7B7B7;
}
.auction-today-post img, .product-detail-image-wrapper img{
    height: 160px;
    /* min-height: 160px; */
    width: 100%;
}
#footer-container{
    width: 100%;
    height:320px;
    background: #713C39;
}
#footer-container .license{
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ffffff;
}
#footer-container .license div{
    text-align: center;
    display: block;
    color: #ffffff;
}

.auction-notification-post .auction-notification-post-single{
    /*border: 1px solid #B7B7B7;*/
}
.auction-notification-post-single-description{
    max-height: 55px;
    overflow: hidden;
}
.auction-notification-post-single-title{
    max-height: 50px;
    overflow: hidden;
}
.auction-notification-post img{
    height: auto;
    min-height: 160px;
    width: 100%;
}
.auction-news-wrapper{
    background-color: #ffffff;
    margin-bottom: 16px;
}

.auction-news-post img{
    height: auto;
    min-height: 160px;
    width: 100%;
}
.footer-wrapper{
    padding: 24px 0px;
    background-color: inherit;
    /* margin-right: 0;
    margin-left: 0;
    height: calc(100% - 49px);
    width: 100%; */
}
.auction-news-post-single-description{
    max-height: 64px;
    overflow: hidden;
}
.bocongthuong-icon{
    background-image:    url('~@/assets/image/bocongthuong.png');
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    width: 170px;
    height: 132px;
}
.auction-news-search, .auction-product-search{
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    margin: -24px -98px 0 -98px;
    border-top: 1px solid #ece8e8;
}
.auction-news-search-line{
    padding: 24px 98px;
}
.admin-container-nav .nav .nav-link{
    padding:  12px 24px;
    color: #000000;
}
.admin-container-nav .nav .nav-link span{
    font-weight: 500;
}
.admin-container-nav .nav .nav-link:hover{
    padding:  12px 24px;
    color: #E84A4A;
}
#sidebar{
    border-right: 1px solid #dad9d9;
}
.admin-nav-top{
    border-bottom: 1px solid #dad9d9;
}
.admin-search-product-group .admin-search-input{
    width: auto;
    border: 1px solid #dad9d9;
    border-radius: 4px;
}
.admin-search-product-group .admin-search-input input{
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: inherit;
}
.admin-search-product-group select{
    width: auto;
    min-width: 120px;
    max-width: 160px;
    border: 1px solid #dad9d9;
    border-radius: 4px;
}
.admin-search-product-group .admin-search-input-time{
    width: auto;
    border: 1px solid #dad9d9;
    border-radius: 4px;
}
.admin-search-product-group .admin-search-input-time input{
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: inherit;
}
.admin-search-product-filter button{
    border: 1px solid #dad9d9;
    border-radius: 4px;
}
.admin-search-product-list{
    overflow-y:auto; 
    height: calc(100vh - 180.5px);
}
.table.b-table > thead > tr > .table-b-table-default{
    color: #ffffff;
    background-color: #E84A4A;
}
.admin-product-create-step {
    max-width: 800px;
}
.admin-product-create-step .p-title{
    width: 200px;
}
.admin-product-create-step div input{
    border: 1px solid #dad9d9;
    border-radius: 4px;
}
.input-time-picker div input{
    width: auto;
    min-width: none;
}
.input-date-picker{
    width: auto;
}
.border-000000{
    border: 1px solid #000000;
}
.w-470p{
    width: 470px;
}
.m-w-140p{
    width: auto;
    min-width: 140px;
}
.upload-multi-preview .image-container {
    width: 670px !important;
}
.upload-owner-preview .image-container {
    width: 335px !important;
}
.admin-search-product-list table td{ 
    vertical-align: middle;
    padding: 4px;
}
.product-detail-add-user-wrapper{
    height: 100%;
    width: 300px;
    border-left: 1px solid #dad9d9;
}

.product-detail-wrapper{
    height: 100%;
    max-height: 90vh;
    overflow: scroll;
    width: calc(100% - 300px);
}
.product_detail_data_wrapper { 
    max-height: calc(100% - 158px);
    overflow-y: scroll;
}
.m-center{
    margin: 0 auto;
}
.no-boder{
    border: none;
}
.table-info-auction th{
    border-top: none;
}
.table-info-auction .table thead th{
    border-bottom: none;
}
.br-1p{
    border-right: 1px solid #ccc;
}
.bdr-b-1p{
    border-bottom: 1px solid #ccc;
}
.bdr-1p{
    border: 1px solid #ccc;
}
.bdr-r1p{
    border-radius: 0.25rem;
}
.p-25-50{
    padding: 25px 50px;
}
.pay-status td{
    border:none;
}
.text-right{
    text-align: right;
}
.list-images-product-detail{
    overflow-x: auto;
    overflow: hidden;
}
.list-images-product-detail:hover{
    overflow: auto;
}

.product_detail_data_html {
    height: auto;
    max-height: 1000px;
    overflow-y: scroll;
}
.filter-item {
    width: 190px;
    min-width: 10%;
}
.filter-item ul {
    padding: 1px 0;
    list-style-type: none;
}