html, body {
    font-family: Maven Pro, Helvetica, sans-serif;
    font-size: 14px;
}
.font-8{
    font-size: 8px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-20{
    font-size: 20px;
}
.text-white{
    color: white;
}
.text-red{
    color: red;
}
.text-gray{
    color: gray;
}
.text-black{
    color: black;
}
.font-light{
    font-weight: 300;
}
.font-regular{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extra-bold{
    font-weight: 800;
}
.p-2p{
    padding: 2px;
}
.p-4p{
    padding: 4px;
}
.p-8p{
    padding: 8px;
}
.p-12p{
    padding: 12px;
}
.p-16p{
    padding: 16px;
}
.p-20p{
    padding: 20px;
}
.p-24p{
    padding: 24px;
}
.pl-2p{
    padding-left: 2px;
}
.pl-4p{
    padding-left: 4px;
}
.pl-8p{
    padding-left: 8px;
}
.pl-12p{
    padding-left: 12px;
}
.pl-16p{
    padding-left: 16px;
}
.pl-20p{
    padding-left: 20px;
}
.pl-24p{
    padding-left: 24px;
}
.pr-2p{
    padding-right: 2px;
}
.pr-4p{
    padding-right: 4px;
}
.pr-8p{
    padding-right: 8px;
}
.pr-12p{
    padding-right: 12px;
}
.pr-16p{
    padding-right: 16px;
}
.pr-20p{
    padding-right: 20px;
}
.pr-24p{
    padding-right: 24px;
}
.pt-2p{
    padding-top: 2px;
}
.pt-4p{
    padding-top: 4px;
}
.pt-8p{
    padding-top: 8px;
}
.pt-12p{
    padding-top: 12px;
}
.pt-16p{
    padding-top: 16px;
}
.pt-20p{
    padding-top: 20px;
}
.pt-24p{
    padding-top: 24px;
}
.pb-2p{
    padding-bottom: 2px;
}
.pb-4p{
    padding-bottom: 4px;
}
.pb-8p{
    padding-bottom: 8px;
}
.pb-12p{
    padding-bottom: 12px;
}
.pb-16p{
    padding-bottom: 16px;
}
.pb-20p{
    padding-bottom: 20px;
}
.pb-24p{
    padding-bottom: 24px;
}
.m-2p{
    margin: 2px;
}
.m-4p{
    margin: 4px;
}
.m-8p{
    margin: 8px;
}
.m-12p{
    margin: 12px;
}
.m-16p{
    margin: 16px;
}
.m-20p{
    margin: 20px;
}
.m-24p{
    margin: 24px;
}
.ml-2p{
    margin-left: 2px;
}
.ml-4p{
    margin-left: 4px;
}
.ml-8p{
    margin-left: 8px;
}
.ml-12p{
    margin-left: 12px;
}
.ml-16p{
    margin-left: 16px;
}
.ml-20p{
    margin-left: 20px;
}
.ml-24p{
    margin-left: 24px;
}
.mr-2p{
    margin-right: 2px;
}
.mr-4p{
    margin-right: 4px;
}
.mr-8p{
    margin-right: 8px;
}
.mr-12p{
    margin-right: 12px;
}
.mr-16p{
    margin-right: 16px;
}
.mr-20p{
    margin-right: 20px;
}
.mr-24p{
    margin-right: 24px;
}
.mt-2p{
    margin-top: 2px;
}
.mt-4p{
    margin-top: 4px;
}
.mt-8p{
    margin-top: 8px;
}
.mt-12p{
    margin-top: 12px;
}
.mt-16p{
    margin-top: 16px;
}
.mt-20p{
    margin-top: 20px;
}
.mt-24p{
    margin-top: 24px;
}
.mb-2p{
    margin-bottom: 2px;
}
.mb-4p{
    margin-bottom: 4px;
}
.mb-8p{
    margin-bottom: 8px;
}
.mb-12p{
    margin-bottom: 12px;
}
.mb-16p{
    margin-bottom: 16px;
}
.mb-20p{
    margin-bottom: 20px;
}
.mb-24p{
    margin-bottom: 24px;
}
.template-content-container{
    max-width: 1170px;
}

/*custom input-placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #555555;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #555555;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #555555;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    color: #555555;
}
#main-container{

}

#header-container{
    padding: 5px 98px;
}
#page-content{
    padding: 24px 98px;
    background-color: #F6F7FB;
}

.row-no-margin{
    margin-right: 0;
    margin-left: 0;
    height: auto;
    width: 100%;
}
.top-banner-container{
    border-bottom: 1px solid rosybrown;
    padding: 5px;
}

.hammer-icon{
    background: transparent url('~@/assets/svg/hammer.svg') 0 0 no-repeat padding-box;
    height: 40px;
    width: 40px;
}
.hammer-icon-fff{
    background: transparent url('~@/assets/svg/hammer_fff.svg') 0 0 no-repeat padding-box;
    height: 40px;
    width: 40px;
}
.banner-text{
    letter-spacing: 0;
    color: #000000;
}
#header-container a{
    font-size: 14px;
    color: #000000;
    padding-right: 30px;
    font-weight: 500;
}
#header-container a:hover{
    color: #713C39;
    text-decoration: underline;
}
#header-container .active{
    color: #713C39;
}
#header-container .user-info i{
    font-size: 20px;
    padding-left: 16px;
}
#header-container .user-info i:last-child{
    color: #B7B7B7;
    font-size: 32px;
    padding-left: 30px;
}
.search-icon{
    background: transparent url('~@/assets/svg/search.svg') 0 0 no-repeat padding-box;
    height: 24px;
    width: 24px;
}
.search-group {
    background-color: #F0F0F0;
    border-radius: 4px;
}
.search-group input{
    background-color: inherit;
}
.nar-product-h {
    width: 270px;
    background-color: #713C39;
    border-radius: 4px 0 0 4px;
}
.rev-slider-wrapper{
    width: calc(100% - 270px);
    border-radius: 0 4px 4px 0;
}
.mainmenu, .submenu {
    border-radius: 0 4px 4px 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 0.1px solid #B7B7B7;

}
.mainmenu a {
    display: block;
    /*background-color: #CCC;*/
    text-decoration: none;
    padding: 10px 16px 10px 30px;
    color: #fff;
}
.mainmenu a:hover {
    background-color: #5A302E;
}
.mainmenu li .submenu {
    top: 0;
    left: 100%;
    width: 80%;
    z-index: 100;
}
.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}
.submenu a {
    background-color: #713C39;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.carousel-indicators .active{
    opacity: 1;
    background-color: #713C39;
}
.nar-product-h .hotline{
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
}
.hotline p{
    text-align: center;
    display: block;
    color: white;
    padding: 12px;
}
.auction-process-wrapper{
    background-color: #ffffff;
    padding: 0;
    margin: 16px 0;
}
.auction-process-step i{
    font-size: 16px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}
.auction-process-step .step-icon div {
    font-size: 13px;
}
.auction-process-step i span{
    padding: 3px;
    color: #000000;
    font-family: Maven Pro, Helvetica, sans-serif;
}
.auction-process-step .step-cover {
    background-color: inherit;
}
.auction-process-step .step-cover div {
    border-radius: 4px;
}
.auction-process-step .step-cover .step-1{
    background-color: #DFF4F4;
}
.auction-process-step .step-cover .step-2{
    background-color: #FBEECD;
}
.auction-process-step .step-cover .step-3{
    background-color: #DFE4FD;
}
.auction-process-step .step-cover .step-4{
    background-color: #DFF4F4;
}
.auction-process-step .step-cover .step-5{
    background-color: #FBEECD;
}
.auction-process-step .step-cover .step-6{
    background-color: #DFE4FD;
}
.auction-process-step .step-cover .step-1 i{
    color: #42b983;
}
.auction-process-step .step-cover .step-2 i{
    color: #f3bd37;
}
.auction-process-step .step-cover .step-3 i{
    color: #3f5bec;
}
.auction-process-step .step-cover .step-4 i{
    color: #42b983;
}
.auction-process-step .step-cover .step-5 i{
    color: #f3bd37;
}
.auction-process-step .step-cover .step-6 i{
    color: #3f5bec;
}
.auction-info-wrapper{
    background-color: inherit;
    margin-bottom: 24px;
}
.auction-today {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.auction-notification {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.auction-today-post .auction-today-post-single{
    border: 1px solid #B7B7B7;
}
.auction-today-post img{
    height: auto;
    min-height: 160px;
    width: 100%;
}
#footer-container{
    width: 100%;
    height:320px;
    background: #713C39;
}
#footer-container .license{
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ffffff;
}
#footer-container .license div{
    text-align: center;
    display: block;
    color: #ffffff;
}

.auction-notification-post .auction-notification-post-single{
    /*border: 1px solid #B7B7B7;*/
}
.auction-notification-post-single-description{
    max-height: 55px;
    overflow: hidden;
}
.auction-notification-post-single-title{
    max-height: 50px;
    overflow: hidden;
}
.auction-notification-post img{
    height: auto;
    min-height: 160px;
    width: 100%;
}
.auction-news-wrapper{
    background-color: #ffffff;
    margin-bottom: 16px;
}

.auction-news-post img{
    height: auto;
    min-height: 160px;
    width: 100%;
}
.footer-wrapper{
    padding: 24px 0px;
    background-color: inherit;
    /* margin-right: 0;
    margin-left: 0;
    height: calc(100% - 49px);
    width: 100%; */
}
.auction-news-post-single-description{
    max-height: 64px;
    overflow: hidden;
}
.bocongthuong-icon{
    background-image:    url('~@/assets/image/bocongthuong.png');
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    width: 170px;
    height: 132px;
}
.auction-news-search{
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    margin: -24px -98px 0 -98px;
    border-top: 1px solid #ece8e8;
}
.auction-news-search-line{
    padding: 24px 98px;
}